<div class="container">
  <form #form="ngForm" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastro Lançamento</h1>
      </div>

      <div class="ui-sm-12 ui-md-3 ui-lg-3 ui-fluid">
        <label>Tipo de lançamento</label>
        <p-dropdown [options]="tipos" #tipo placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-sm-12 ui-md-9 ui-lg-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          ngModel #descricao="ngModel" required minlength="5">

        <app-messages [control]="descricao" error="required"
          text="Informe uma descrição!"></app-messages>
        <app-messages [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres!"></app-messages>
      </div>

      <div class="ui-sm-6 ui-md-4 ui-lg-2 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false"
          ngModel #vencimento="ngModel" required></p-calendar>

        <app-messages [control]="vencimento" error="required"
          text="Informe uma data de vencimento"></app-messages>
      </div>

      <div class="ui-sm-6 ui-md-4 ui-lg-2 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true"
          [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-sm-12 ui-md-4 ui-lg-2 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" currencyMask name="valor" ngModel
          [options]="{ prefix: '',  thousands: '.', decimal: ',', allowNegative: false }"
          ngModel required>
      </div>

      <div class="ui-sm-12 ui-md-6 ui-lg-3 ui-fluid">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione" ngModel required></p-dropdown>
      </div>

      <div class="ui-sm-12 ui-md-6 ui-lg-3 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione"
          [filter]="true" ngModel required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" class="action-buttons" label="Salvar" [disabled]="form.invalid"></button>
        <button pButton type="button" class="action-buttons button-novo" label="Novo"></button>
        <a href="#">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
