<!-- Pagina de pesquisa -->
<div class="container">
  <!-- Panel de pesquisa : INICIO -->
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label> até </label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
      <a pButton label="Novo" style="margin-left: 2px;"></a>
    </div>
  </div>
  <!-- Panel de pesquisa : FIM -->

  <!-- Table de pesquisa : INICIO -->
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="10" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data">Vencimento</th>
                <th class="col-data">Pagamento</th>
                <th class="col-valor">Valor</th>
                <th class="col-acoes">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamentos>
            <tr>
                <td>{{lancamentos.pessoa}}</td>
                <td>{{lancamentos.descricao}}</td>
                <td class="col-data">{{lancamentos.dataVencimento}}</td>
                <td class="col-data">{{lancamentos.dataPagamento}}</td>
                <td class="col-valor">
                  <span [style.color]="lancamentos.tipo === 'DESPESA' ? 'red' : 'blue'">{{lancamentos.valor}}</span>
                </td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                  <button pButton icon="pi pi-trash" style="margin-left: 2px;" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- Table de pesquisa : FIM -->
</div>
