/* Configurações globais */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1300px){
  .container {
    width: 1300px;
    margin: 0 auto;
  }
}

/* Customização colunas da tabela de lançamentos */
.col-valor {
  text-align: right;
  width: 120px;
}

.col-data {
  text-align: center;
  width: 120px;
}

.col-acoes {
  text-align: center;
  width: 96px;
}
